* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.a {
  height: 800px;
  width: 100vw;
  background-image: url("project1.png");
  background-size: cover;
}

.b {
  height: 800px;
  width: 100vw;
  background-image: url("project2.png");
  background-size: cover;
}
.c {
  height: 800px;
  width: 100vw;
  background-image: url("project3.png");
  background-size: cover;
}
